[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Validation"

[[workflows.workflow]]
name = "Build Validation"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export JAVA_HOME=$(readlink -f $(which java) | sed \"s:/bin/java::\") && ./gradlew help"

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["jdk17", "openssh_gssapi"]
